//colors
$white: #fff;
$mainColor: #fbf8f5;
$burgerColor: #e7e3dfbf;
$noteColor: #f6cfca;
$accentColor: #e9672b;

//font
$mainFont: "Roboto", sans-serif;

//screens
$tablet: "max-width: 992px";
$landscape: "max-width: 768px";
$phone: "max-width: 576px";