.card {
  display: flex;
  padding: 3.2rem 0;
  align-items: center;
  justify-content: space-between;

  &__info {
    width: 44.1rem;
    margin: 0 8.5rem;

    p {
      margin-top: 2rem;
    }

    a {
      @include a();
      @extend %p;
      margin-top: 3.3rem;
    }
  }

  @media ($tablet) {
    & img {
      min-width: 30%;
    }
  }

  @media ($landscape) {
    flex-direction: column-reverse;

    & img {
      margin-bottom: 2rem;
      max-width: 80%;
    }
  }
}
.card-revers {
  flex-direction: row-reverse;

  @media ($landscape) {
    flex-direction: column-reverse;
  }
}
