@import "./utils";
@import "./components";
@import "./layout";

.container {
  max-width: 128rem;
  min-width: 375px;

  margin: 0 auto;
  background: $mainColor;

  @media ($tablet) {
    max-width: 100vw;
  }
}

main {
  max-width: 128rem;
  min-width: 375px;

  margin: 0 auto;

  @media ($tablet) {
    max-width: 100vw;
  }
}
